services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
      POSTGRES_DB: cipa_db
    ports:
      - '5432:5432'
    volumes:
      - './data:/var/lib/postgresql/data'

  pgAdmin4:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@mail.com
      PGADMIN_DEFAULT_PASSWORD: 1234
    ports:
      - '15432:80'
    depends_on:
      - db
