spring:
  application:
    name: 'cipa-online'
  datasource:
    driver-class-name: org.postgresql.Driver
    password: 1234
    username: postgres
    url: jdbc:postgresql://localhost:5432/cipa_db
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    database: POSTGRESQL
  servlet:
    multipart:
      max-request-size: 5MB
      max-file-size: 5MB
      enabled: true

server:
  port: 8081